 body {
 color: #000;
 font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
 font-size: 14px;
 font-weight: 500;
}
body {
 margin: 0;
 padding: 0;
}
header {
 display: block;
}
.Header {
 width: 100%;
 position: absolute;
}
.Header {
 padding-top: 20px;
 padding-bottom: 20px;
}
.HEADER_HEADER__common {
 padding-top: 20px;
 padding-bottom: 20px;
}
.HeaderContainer {
 display: flex;
 justify-content: space-between;
 min-width: 100%;
 margin: 0 36px;
 position: relative;
}
a {
 color: #000;
 text-decoration-line: none;
}
.Header_logo_image_pc {
 display: block;
 height: 20px;
 width: auto;
}
@media screen and (max-width: 767px) {
.Header_logo_image_pc {
 display: none;
 }
}
.Header_logo_image_sp {
 display: none;
 height: 16px;
 width: auto;
}
@media screen and (max-width: 767px) {
 .Header_logo_image_sp {
  display: block;
 }
}
.HeaderNavilist_Item {
  display: block;
  display: flex;
 }
 input {
  display: none;
 }
 @media screen and (max-width: 1080px) {
 input {
  display: none;
  }
 }
 @media screen and (max-width: 1080px) {
 label {
  display: inline-block;
  width: 25px;
  height: 22px;
  cursor: pointer;
  margin-right: 50px;
  }
 }
 @media screen and (max-width: 1080px) {
.HeaderNavilist_hamberger_line {
 display: block;
 height: 3px;
 width: 25px;
 background-color: #000;
 }
}
@media screen and (max-width: 1080px) {
label {
 position: relative;
 }
}
@media screen and (max-width: 1080px) {
.HeaderNavilist_hamberger_line,.HeaderNavilist_hamberger_line::before,.HeaderNavilist_hamberger_line::after {
 display: block;
 height: 3px;
 width: 25px;
 background-color: #000;
 content: "";
 position: absolute;
 }
}
@media screen and (max-width: 1080px) {
.HeaderNavilist_hamberger_line::before {
 top: 8px;
 }
}
@media screen and (max-width: 1080px) {
.HeaderNavilist_hamberger_line::after {
 top: 16px;
 }
}
@media screen and (max-width: 1080px) {
 .HeaderNavilist_hamberger_list {
 position: fixed;
 top:  60px;
 left: 100%;
 width: 100%;
 display: block;
 padding-top: 20px;
 padding-bottom: 75px;
 z-index: 99;
 background-color: rgba(0,0,0,.8);
 }
}
.HeaderNavilist_hamberger_list {
 display: flex;
 align-items: center;
}
.HeaderNavilist_Item {
 margin-right: 40px;
}
.HeaderNavilist_Item_link>span {
 display: block;
 text-align: center;
 font-weight: 700; 
}
 .HeaderNavilist_Item {
  padding: 0 20px;
  text-align: center;
  font-weight: 700;
  list-style: none;
 }
.HeaderNavilistItem_button {
 font-weight: 700;
 background-color: #f79214;
 color: #fff;
 padding: 10px 20px;
 font-size: 12px;
 border-radius: 30px;
 text-align: center;
 margin-right: 50px;
}
main {
 display: block;
}
.FirstView {
 background-size: cover;
 display: block;
 background-image: url(//camp.potepan.com/wp-content/themes/potepancamp/assets/styles/../images/home/first-view/top-hero.jpg);
 background-position: center;
 width: 100%;
 padding-top: 120px;
}
@media screen and (max-width: 767px){
.FirstView {
    background-image: none;
    padding-top: 0;
    padding-bottom: 35px;
 }
}
.FirstView_main_image {
 width: 100%;
}
.FirstView_main_image_sp {
 display: none;
}
@media screen and (max-width: 767px){
 .FirstView_main_image_sp {
  display: block;
  width: 100%;
 }
}
.main_menu {
 padding-left: 50px;
 padding-right: 50px;
 max-width: 1140px;
 position: relative;
 margin-left: auto;
 margin-right: auto;
}
@media screen and (max-width: 767px) {
 .main_menu {
  margin-top: -45vw;
 }
}
.main_menu_contents {
 width: 100%;
}
h1 {
 font-size: 38px;
 font-weight: 700;
 line-height: 54px;
}
@media screen and (max-width: 767px) {
 h1 {
  font-size: 25px;
  line-height: 36px;
  margin: 0 30px;
  text-align: center;
 }
}
.main_menu_contents_image {
 margin-bottom: 30px;
}
img {
 vertical-align: middle;
}
@media screen and (max-width: 767px) {
 .main_menu_contents_image_left {
  width: 27.5%;
 }
}
@media screen and (max-width: 767px) {
 .main_menu_contents_image_center {
  width: 40%;
 }
}
@media screen and (max-width: 767px) {
 .main_menu_contents_image_right {
  width: 27.5%;
 }
}
.main_menu_button {
 display: flex;
 margin-bottom: 100px;

}
.contact_button {
color: white;
background-color: #f79214;
padding: 20px 50px;
border-radius: 30px;
margin-right: 20px;
font-weight: 700;
text-align: center;
}
@media screen and (max-width: 767px) {
 .contact_button {
  width: 100%!important ;
 }
}
.dowmload_button {
 border: 1px solid silver;
 padding: 15px 20px;
 border-radius: 30px;
 background-color: #fff;
}
@media screen and (max-width: 767px) {
 .dowmload_button {
  display: none;
 }
}
.sidebar_explation{
line-height: normal;
 color: #a2a2a4;
}
p a {
 color: #a2a2a4;
}
.introductionWrapper {
 background-color: #f79214;
 padding: 40px 0;
}
.introduction {
 max-width: 1140px;
 padding-right: 50px;
 padding-left: 50px;
 margin-left: auto;
 margin-right: auto;
 display: flex;
}
.introduction_video {
 height: 300px;
 margin-right: 30px;
}
.introduction_sentence {
 color: #fff;
 line-height: normal;
}
.introduction_sentence h2 {
 font-size:38px;
}
.introduction_sentence p {
 font-size: 16px;
}
@media screen and (max-width: 1024px){
 .introduction {
  flex-direction: column;
 }
}
.introduction_button img{
 margin-right: 5px;
 margin-top: 20px;
 }
 .introduction_button {
  color: #fff;
 font-size: 18px;
 }